<div
  width="100%"
  display="flex"
  flex-direction="column"
  justify-content="center"
  align-items="stretch"
  align-content="center"
>
  <br />
  <h2>Comments</h2>
  <textarea
    type="text"
    id="comment-input"
    placeholder="comment"
    rows="3"
    cols="50"
  ></textarea>
  <br />
  <div max-width="200">
    <button id="submit-button">Add Comment</button>
  </div>
  <script>
    document
      .querySelector("#submit-button")
      .addEventListener("click", function () {
        const input = document.getElementById("comment-input");
        const comment = input.value.trim();
        if (!comment || comment === "") {
          alert("Please enter a comment.");
          return;
        }
        console.log(comment);

        input.value = "";
      });
  </script>
</div>
