<script>
  // get then add views
  window.onload = function () {
    fetch(
      `https://clckelrx9k.execute-api.eu-west-1.amazonaws.com/prod/views/${postId}`
    )
      .then((response) => response.json())
      .then((data) =>
        fetch(
          `https://clckelrx9k.execute-api.eu-west-1.amazonaws.com/prod/views/${postId}`,
          {
            method: "PUT",
          }
        )
      )
      .catch((error) => {
        console.error("Error fetching likes:", error);
      });
  };
</script>
